@inherits LayoutComponentBase

<PageTitle>MCServerManager</PageTitle>

<div class="page">
    <div class="shadow-colored sidebar bg-slate-700">
        <NavMenu />
    </div>

    <main>
        <article class="content p-8">
            @Body
        </article>
    </main>
</div>
