<div class="p-4 shadow-colored bg-slate-800 text-slate-100 text-center">
    <a class="navbar-brand" href="">MCServerManager</a>
</div>

<nav class="flex flex-col">
    <div class="sidebar-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <div class="nav-link-bg">
                <span class="oi oi-home px-2" aria-hidden="true"></span> Home
            </div>
        </NavLink>
    </div>
    <div class="sidebar-item">
        <NavLink class="nav-link" href="player_list">
            <div class="nav-link-bg">
                <span class="oi oi-people px-2" aria-hidden="true"></span> Player list
            </div>
        </NavLink>
    </div>
    <div class="sidebar-item">
        <NavLink class="nav-link" href="config">
            <div class="nav-link-bg">
                <span class="oi oi-wrench px-2" aria-hidden="true"></span> Config
            </div>
        </NavLink>
    </div>
</nav>