@page "/config"
@using MCServerManager.Models
@using MCServerManager.Data

<PageTitle>Config - MCServerManager</PageTitle>

<div class="flex flex-col lg:flex-row gap-4 items-start">
    <div class="card">
        <div class="card-header">Java Virtual Machine</div>
        <EditForm Model="@jvmConfigModel" OnValidSubmit="HandleValidJVMConfig">
            <div class="card-body flex flex-col">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <label for="java-path">Java path</label>
                <InputText id="java-path" class="input-box" @bind-Value="jvmConfigModel.JavaPath" placeholder="Path"/>
                <label for="min-ram" class="mt-2">Minimum RAM</label>
                <InputNumber id="min-ram" class="input-box" @bind-Value="jvmConfigModel.MinRamMb" placeholder="Minimum RAM (MB)"/>
                <label for="max-ram" class="mt-2">Maximum RAM</label>
                <InputNumber id="max-ram" class="input-box" @bind-Value="jvmConfigModel.MaxRamMb" placeholder="Maximum RAM (MB)"/>
                <label for="extra-args" class="mt-2">Additional JVM arguments</label>
                <InputText id="extra-args" class="input-box" @bind-Value="jvmConfigModel.ExtraArgs" placeholder="Additional arguments"/>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-blue shadow-colored w-full">Save changes</button>
            </div>
        </EditForm>
    </div>
    <div class="card">
        <div class="card-header">Server</div>
        <EditForm Model="@serverConfigModel" OnValidSubmit="HandleValidServerConfig">
            <div class="card-body flex flex-col">
                <DataAnnotationsValidator/>
                <ValidationSummary/>

                <label for="sv-dir">Server directory</label>
                <InputText id="sv-dir" class="input-box" @bind-Value="serverConfigModel.ServerDirectory" placeholder="Path"/>
                <label for="jar-file" class="mt-2">Jar file</label>
                <InputText id="jar-file" class="input-box" @bind-Value="serverConfigModel.JarFile" placeholder="File name"/>
                <label class="mt-2">
                    <InputCheckbox @bind-Value="serverConfigModel.NoGui"/> No GUI
                </label>
                <label for="extra-sv-args" class="mt-2">Additional server arguments</label>
                <InputText id="extra-sv-args" class="input-box" @bind-Value="serverConfigModel.ExtraArgs" placeholder="Additional arguments"/>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-blue shadow-colored w-full">Save changes</button>
            </div>
        </EditForm>
    </div>    
</div>

@code {
    private JvmConfigModel jvmConfigModel;
    private ServerConfigModel serverConfigModel;

    protected override void OnInitialized()
    {
        jvmConfigModel = ConfigManager.JvmConfig.Copy();
        serverConfigModel = ConfigManager.ServerConfig.Copy();
    }

    private void HandleValidJVMConfig()
    {
        ConfigManager.JvmConfig = jvmConfigModel;
        ConfigManager.SaveJvmConfig();
    }

    private void HandleValidServerConfig()
    {
        ConfigManager.ServerConfig = serverConfigModel;
        ConfigManager.SaveServerConfig();
    }
}