.left {
    float: left;
}

.right {
    float: right;
}

.middle {
    vertical-align: middle;
}

.online-dot {
    height: 0.8em;
    width: 0.8em;
    background-color: rgb(75, 255, 75);
    border-radius: 50%;
    display: inline-block;
}

.offline-dot {
    height: 0.8em;
    width: 0.8em;
    background-color: rgb(255, 75, 75);
    border-radius: 50%;
    display: inline-block;
} 

.border-left {
    border-left: 1px solid #dee2e6!important
}